[Unit]
Description=train agent
After=network.target

[Service]
WorkingDirectory=/tmp/
Type=simple
ExecStart=/usr/bin/python3.7 /home/ec2-user/Build-Night/TicTacToe/App/play-agents-genetic/play-agent.py train 100 100000 1
Restart=always


[Install]
WantedBy=multi-user.target
